@font-face{
    font-family: Fluid-Sans;
    src: url(fonts/FluidSans-Regular.ttf);
}

body{
    display: flex;
    margin: 0;
    height: 100vh;
    background: url(images/background-wall.jpg) no-repeat;
}

body::-webkit-scrollbar{
    width: 0;
    background: transparent;
}

.tab-bar{
    position: absolute;
    right: 4%;
    top: 4%;
    display: flex;
    flex-direction: row;
}

.header{
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 3;
}

.menu-icon{
    visibility: hidden;
}

.menu-btn{
    visibility: hidden;
}

.tabs{
    display: flex;
    flex-direction: row;
    width: 300px;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    font-family: Fluid-Sans, sans-serif;
    font-size: medium;
    color: white;
    list-style-type: none;
}

.tabs > li >a{
    text-decoration: none;
    color: white;
    transition: color 0.4s ease-in-out;
}

.tabs > li > a:hover{
    color: #72BBFF;
}

#home{
    color: #72BBFF;
}

.landing-page{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(18, 18, 18, 0.88);
}

.lander-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180px;
    justify-content: space-between;
}

.lander-text > svg{
    width: 200px;
    height: 75px;
}

.subheader{
    font-family: Fluid-Sans, sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: white;
}

.download-button{
    padding: 12px;
    background-color: rgba(114, 187, 255, 0.2);
    text-align: center;
    text-decoration: none;
    font-family: Fluid-Sans, sans-serif;
    font-size: 18px;
    color: #72BBFF;
    border: 3px solid #72BBFF;
    box-sizing: border-box;
    border-radius: 12px;
    transition: background-color 0.4s ease-in-out;
}

.download-button:hover{
    background-color:  rgba(114, 187, 255, 0.4);
}

/* Media Query */

@media (max-width: 560px){
    body{
        background: url(images/background-mobile.png) no-repeat;
        background-size: cover;
    }

    .menu-icon{
        visibility: visible;
    }

    .menu-btn{
        visibility: visible;
    }

    .header li a{
        display: block;
        padding: 20px 20px;
        text-decoration: none;
    }
       
    .header{
        display: grid;
        align-content: center;
    }

    .tab-bar{
        width: 100%;
        top: 0;
        right: 0;
        flex-direction: column;
    }

    /* Hamborger menu */

    .header .tabs{
        display: flex;
        flex-direction: column;
        float: right;
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
        font-size: small;
        width: 100%;
    }
       
    /* Menu icon */
       
    .header .menu-icon{
        cursor: pointer;
        display: inline-block;
        padding: 30px 22px;
        position: relative;
        user-select: none;
    }
       
    .header .menu-icon .navicon{
        background: #fff;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 18px;
    }
       
    .header .menu-icon .navicon:before,
    .header .menu-icon .navicon:after{
        background: #fff;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }
       
    .header .menu-icon .navicon:before{
        top: 5px;
    }
       
    .header .menu-icon .navicon:after{
        top: -5px;
    }
       
    /* Menu btn */
       
    .header .menu-btn{
        display: none;
    }
       
    .header .menu-btn:checked ~ .tabs{
        max-height: 340px;
    }
       
    .header .menu-btn:checked ~ .menu-icon .navicon{
        background: transparent;
      }
       
    .header .menu-btn:checked ~ .menu-icon .navicon:before{
        transform: rotate(-45deg);
    }
       
    .header .menu-btn:checked ~ .menu-icon .navicon:after{
        transform: rotate(45deg);
    }
       
    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after{
        top: 0;
    }

    .lander-text{
        height: 145px;
    }

    .lander-text > svg{
        width: 155px;
        height: 60px;
    }

    .subheader{
        font-size: 11px;
    }


    .download-button{
        padding: 10px;
        font-size: 15px;
        border-radius: 10px;
    }
}