@font-face{
    font-family: Fluid-Sans;
    src: url(fonts/FluidSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: Fluid-Sans;
    src: url(fonts/FluidSans-Bold.ttf);
    font-weight: 700;
    font-style: bold;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    background: #000000;
    cursor: default;
}

body::-webkit-scrollbar{
    width: 0;
    background: transparent;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tab-bar{
    position: sticky;
    top: 0;
    padding: 26px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgba(3, 3, 3, 0.4);
}

.header{
    position: relative;
    width: auto;
    overflow: hidden;
    z-index: 3;
}

.branding{
    width: 50px;
    height: 18px;
}

.menu-icon{
    display: none;
}

.menu-btn{
    display: none;
}

.tabs{
    display: flex;
    flex-direction: row;
    width: 300px;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    font-family: Fluid-Sans, sans-serif;
    font-size: medium;
    color: white;
    list-style-type: none;
}

.tabs > li >a{
    text-decoration: none;
    color: white;
    transition: color 0.4s ease-in-out;
}

.tabs > li > a:hover{
    color: #72BBFF;
}

#wiki{
    color: #72BBFF;
}

.wiki-body{
    border-radius: 0 0 30px 30px;
    background: #121212;
}

.about-section{
    margin: 100px 60px 0 60px;
    font-family: Fluid-Sans, sans-serif;
    color: white;
}

.about-section > h1{
    color: #72BBFF;
}

#about-text{
    border: 3px solid #242424;
    box-sizing: border-box;
    border-radius: 16px;
    line-height: 195%;
    margin-top: 40px;
    transition: background-color 0.4s ease-in-out;
}

#about-text:hover{
    background-color: #242424;
}

#about-text > h2{
    font-weight: normal;
    margin: 40px 27px 40px 27px;
}

#about-text > h2 > span{
    color: #72BBFF;
}

.team-section{
    margin: 50px 60px 0 60px;
    font-family: Fluid-Sans, sans-serif;
    color: white;
}

.team-section > h1{
    color: #72BBFF;
}

#team{
    border: 3px solid #242424;
    box-sizing: border-box;
    border-radius: 16px;
    margin-top: 40px;
    transition: background-color 0.4s ease-in-out;
}

#team:hover{
    background-color: #242424;
}

.profiles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 7vh 5vw 7vh 5vw;
}

.profiles > div{
    align-content: center;
    text-align: center;
}

.profiles > div > span{
    font-size: x-large;
    color: #72BBFF;
}

.profiles > div > img{
    border: 3px solid #242424;
    box-sizing: border-box;
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

.guidelines-section{
    margin: 100px 60px 0 60px;
    font-family: Fluid-Sans, sans-serif;
    color: white;
}

.guidelines-section > h1{
    color: #72BBFF;
}

#guidelines-text{
    border: 3px solid #242424;
    box-sizing: border-box;
    border-radius: 16px;
    line-height: 195%;
    margin-top: 40px;
    transition: background-color 0.4s ease-in-out;
}

#guidelines-text:hover{
    background-color: #242424;
}

#guidelines-text > h2{
    font-weight: normal;
    margin: 40px 27px 40px 27px;
}

.requirements-section{
    margin: 100px 60px 0 60px;
    font-family: Fluid-Sans, sans-serif;
    color: white;
}

.requirements-section > h1{
    color: #72BBFF;
}

#requirements-text{
    border: 3px solid #242424;
    box-sizing: border-box;
    border-radius: 16px;
    line-height: 195%;
    margin-top: 40px;
    transition: background-color 0.4s ease-in-out;
}

#requirements-text:hover{
    background-color: #242424;
}

#requirements-text > h2{
    font-weight: normal;
    margin: 40px 27px 40px 27px;
}

#requirements-text > h2 > span{
    color: #72BBFF;
}

#form-link{
    margin: 45px;
    font-family: Fluid-Sans, sans-serif;
    text-align: center;
    color: white;
}

#form-link > h1{
    font-weight: normal;
}

#form-link > h1 > a{
    text-decoration: none;
    color: #72BBFF;
}

.footer{
    width: 100%;
    font-family: Fluid-Sans, sans-serif;
    color: white;
}

.footer-holder{
    margin: 40px 10% 40px 10%;
}

.footer-holder > svg{
    width: 65px;
    height: 25px;
}

.info{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.sources-info{
    display: inline-block;
    width: 50%;
}

.sources-info > ul{
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

.sources-info > ul > li{
    padding-top: 10px;
}

.sources-info > ul > li > a{
    text-decoration: none;
    color: #72BBFF;
}

/* Media Query */

@media (max-width: 560px){

    .branding{
        display: none;
    }

    .menu-icon{
        visibility: visible;
    }

    .menu-btn{
        visibility: visible;
    }

    .header li a{
        display: block;
        padding: 20px 20px;
        text-decoration: none;
    }
       
    .header{
        display: grid;
        align-content: center;
    }

    .tab-bar{
        width: 100%;
        top: 0;
        right: 0;
        padding: 0%;
        flex-direction: column;
    }

    /* Hamborger menu */

    .header .tabs{
        display: flex;
        flex-direction: column;
        float: right;
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
        font-size: small;
        width: 100%;
    }
       
    /* Menu icon */
       
    .header .menu-icon{
        cursor: pointer;
        display: inline-block;
        padding: 30px 22px;
        position: relative;
        user-select: none;
    }
       
    .header .menu-icon .navicon{
        background: #fff;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 18px;
    }
       
    .header .menu-icon .navicon:before,
    .header .menu-icon .navicon:after{
        background: #fff;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }
       
    .header .menu-icon .navicon:before{
        top: 5px;
    }
       
    .header .menu-icon .navicon:after{
        top: -5px;
    }
       
    /* Menu btn */
       
    .header .menu-btn{
        display: none;
    }
       
    .header .menu-btn:checked ~ .tabs{
        max-height: 340px;
    }
       
    .header .menu-btn:checked ~ .menu-icon .navicon{
        background: transparent;
      }
       
    .header .menu-btn:checked ~ .menu-icon .navicon:before{
        transform: rotate(-45deg);
    }
       
    .header .menu-btn:checked ~ .menu-icon .navicon:after{
        transform: rotate(45deg);
    }
       
    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after{
        top: 0;
    }

    .about-section{
        margin: 20px 20px 0 20px;
    }

    .about-section > h1{
        font-size: 25px;
    }

    #about-text{
        font-size: 15px;
        margin-top: 20px;
    }

    .team-section{
        margin: 20px 20px 0 20px;
    }

    .team-section > h1{
        font-size: 25px;
    }

    #team{
        margin-top: 20px;
    }

    .profiles{
        flex-direction: column;
        margin: 7vh 5vw 3vh 5vw;
    }

    .profiles > div{
        margin-bottom: 32px;
    }

    .profiles > div > img{
        display: inline-block;
        width: 80px;
        height: 80px;
    }

    .guidelines-section{
        margin: 20px 20px 0 20px;
    }

    .guidelines-section > h1{
        font-size: 25px;
    }

    #guidelines-text{
        font-size: 15px;
        margin-top: 20px;
    }

    .requirements-section{
        margin: 20px 20px 0 20px;
    }

    .requirements-section > h1{
        font-size: 25px;
    }

    #requirements-text{
        font-size: 15px;
        margin-top: 20px;
    }

    #form-link{
        margin: 40px;
        text-align: center;
    }

    #form-link > h1{
        font-size: 20px;
    }

    .footer{
        font-size: 15px;
    }

    .sources-info{
        width: auto;
    }

    .info{
        flex-direction: column;
        justify-content: center;
    }
}